#back{
    background-color: rgb(187, 187, 241);
    // width: 84em;
    // height: 41em;
    width: 100%;
    height: 100%;
    position: absolute;
}
  section{ 
    div.all{
       margin-left:21em;
       margin-top: 7em;
    }
   div.left{
    width: 40em;
    height: 55em;
    background-color:white;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
     }
   div.right{
    width: 40em;
    height: 55em;
    background-color: rgb(59, 101, 163);
    float: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   }
   
   }
.right{
    .pclass{
    color: white; 
    padding-left: 15px;
    float: left;
    font-family: 'Amiri';
    font-size: 17px;
   }
}
 .right{
 .form2class{
   width: 290px;
    height:28px ;
     background-color: rgb(110, 141, 192);
    border:none;
   margin-left: 15px;
   margin-right: 15px;
   }
}
.right{
.button{
      background-color:rgb(29, 175, 66);
      width: 18em;
      height: 25px;
      border: none;
      border-radius: 10px;
      text-align: center;
      color: white;
      margin-top: 3em;
      margin-left: 1em;
      padding-top: 0.5px;
   }
}
  

    